[Unit]
Description=Platform Python to support Panduza Meta Drivers
After=network.target

[Service]
ExecStart=pza-py-platform-run

[Install]
WantedBy=multi-user.target
